@import url(/static/main.css?b1655d5ba454);
/* line 3, c:/users/mmate/pycharmprojects/wwwproject/static/css/forms.scss */
.post-form-container {
  margin-left: 30vw;
  margin-right: 30vw;
  background-color: white;
  padding: 20px;
  grid-row-gap: 5px; }
  /* line 11, c:/users/mmate/pycharmprojects/wwwproject/static/css/forms.scss */
  .post-form-container .post-form {
    display: grid;
    width: 70%;
    margin: 0 auto;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
    align-content: center; }
    /* line 20, c:/users/mmate/pycharmprojects/wwwproject/static/css/forms.scss */
    .post-form-container .post-form form div {
      margin: auto;
      width: 100%; }
    /* line 25, c:/users/mmate/pycharmprojects/wwwproject/static/css/forms.scss */
    .post-form-container .post-form div label {
      padding: 8px;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 4px;
      box-sizing: border-box; }
    /* line 34, c:/users/mmate/pycharmprojects/wwwproject/static/css/forms.scss */
    .post-form-container .post-form div input {
      padding: 8px;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 5px; }
    /* line 43, c:/users/mmate/pycharmprojects/wwwproject/static/css/forms.scss */
    .post-form-container .post-form div button {
      width: 100%;
      padding: 8px; }
