{% extends 'listings/main.html' %}
{% load static %}

{% block header %}
    <title>{{ listing.record.title }}</title>
    <link rel='stylesheet' type="text/css" href="{% static '/css/listing.css' %}">
{% endblock %}


{% block content %}


    <div class="listing-container-2">
        <div class=listing-image>{% if listing.record.image %}
            <div class="image-container"><img src="{{ listing.record.image.url }}" alt="imag"></div>
        {% else %}
            <p>No image available</p>
        {% endif %}</div>
        <div class="buy-info-container">
            <div class="listing-price">

                <a href="/accounts/seller_profile/{{ listing.sellerID.username }}"><h4>
                    Seller: {{ listing.sellerID.username }}</h4></a>
                {% if listing.buy_now %}
                    <form method="post" action="{% url 'listings:create_order' listing.id listing.buy_now_price %}">
                        {% csrf_token %}
                        <button type=submit>Buy now: {{ listing.buy_now_price }}</button>
                    </form>
                {% endif %}


                {% if listing.buy_now and listing.bidding %}
                    or
                {% endif %}

                {% if listing.bidding %}

                    <form method="post" action="{% url 'listings:listing' pk=listing.pk %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Place Bid</button>
                    </form>
                    {% if max_bid %}
                        Current highest bid: {{ max_bid.price }}
                    {% else %}
                        Starting price: {{ starting_price }}
                    {% endif %}
                    {% if max_bid.bidder == user %}
                        <h6>Your bid is currently the highest.<h6>
                    {% endif %}
                {% endif %}
            </div>
            <br>
            <div>Auction ends:
                <br>
                {{ listing.end_time }}</div>
        </div>

        <div><h1>{{ listing.record.title }}</h1></div>
        <div class="listing-artist"><h2>By {{ listing.record.artist }}</h2></div>
        <div class="listing-country-year">{{ listing.record.country|capfirst }}, {{ listing.record.year }}</div>
        <div class="listing-medium">Format: {{ listing.medium|capfirst }}</div>
        <div class="listing-genre">Genre: {{ listing.record.genre|capfirst }}</div>
        <div class="listing-condition">
            {% if listing.condition %}
                Condition: New
            {% else %}
                Condition: Used
            {% endif %}
        </div>


        <div class="listing-description">
            <br>
            <hr>
            <h4>Description:</h4>
            {{ listing.description }}</div>
    </div>
{% endblock %}