@import "main.css";

.orders-container{
    background-color: white;
    padding: 20px;
    margin-left: 15vw;
    margin-right: 15vw;
    height: 100%;
}
.orders-container table, td, th{
    text-align: left;
    padding:5px
}